USE [master]
GO

-- 1. Kiểm tra và xóa database cũ nếu có (để tránh lỗi trùng)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'QL_TiemThuocDongY')
BEGIN
    ALTER DATABASE [QL_TiemThuocDongY] SET SINGLE_USER WITH ROLLBACK IMMEDIATE
    DROP DATABASE [QL_TiemThuocDongY]
END
GO

-- 2. Tạo database mới (Tự động lấy đường dẫn mặc định của máy bạn)
CREATE DATABASE [QL_TiemThuocDongY]
GO

-- 3. Chọn database để bắt đầu tạo bảng
USE [QL_TiemThuocDongY]
GO

-- Thiết lập định dạng ngày tháng (tùy chọn, để tránh lỗi sai định dạng ngày)
SET DATEFORMAT dmy;
GO
USE [QL_TiemThuocDongY]
GO
/****** Object:  Table [dbo].[DM_KhachHang]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KhachHang](
	[KhachHangId] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](200) NOT NULL,
	[NamSinh] [smallint] NULL,
	[GioiTinh] [tinyint] NULL,
	[DienThoai] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonThuoc]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonThuoc](
	[DonThuocId] [int] IDENTITY(1,1) NOT NULL,
	[SoDon] [varchar](30) NOT NULL,
	[NgayLap] [datetime2](7) NOT NULL,
	[KhachHangId] [int] NOT NULL,
	[BacSiKeDon] [nvarchar](100) NULL,
	[ChanDoan] [nvarchar](max) NULL,
	[TongTienHang] [decimal](18, 2) NOT NULL,
	[GiamGia] [decimal](18, 2) NOT NULL,
	[TienKhachPhaiTra]  AS (isnull([TongTienHang],(0))-isnull([GiamGia],(0))) PERSISTED,
	[DaThanhToan] [decimal](18, 2) NOT NULL,
	[ConNo]  AS ((isnull([TongTienHang],(0))-isnull([GiamGia],(0)))-isnull([DaThanhToan],(0))) PERSISTED,
	[HanThanhToan] [date] NULL,
	[TrangThaiDon] [tinyint] NOT NULL,
	[TrangThaiThanhToan] [tinyint] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DonThuocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_CongNoKhachHang]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_CongNoKhachHang]
AS
SELECT 
    KH.KhachHangId,
    KH.MaKhachHang,
    KH.HoTen,
    SUM(CASE WHEN DT.ConNo > 0 THEN DT.ConNo ELSE 0 END) AS TongNo,
    COUNT(CASE WHEN DT.ConNo > 0 THEN 1 END)             AS SoDonConNo,
    MAX(CASE WHEN DT.ConNo > 0 THEN DT.HanThanhToan END) AS HanThanhToanGanNhat
FROM dbo.DM_KhachHang KH
LEFT JOIN dbo.DonThuoc DT
    ON DT.KhachHangId = KH.KhachHangId
GROUP BY KH.KhachHangId, KH.MaKhachHang, KH.HoTen;
GO
/****** Object:  Table [dbo].[DM_NhaCungCap]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NhaCungCap](
	[NhaCungCapId] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [varchar](20) NOT NULL,
	[TenNCC] [nvarchar](200) NOT NULL,
	[NguoiLienHe] [nvarchar](100) NULL,
	[DienThoai] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NhaCungCapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[PhieuNhapId] [int] IDENTITY(1,1) NOT NULL,
	[SoPhieu] [varchar](30) NOT NULL,
	[NgayNhap] [datetime2](7) NOT NULL,
	[NhaCungCapId] [int] NOT NULL,
	[TongTienHang] [decimal](18, 2) NOT NULL,
	[GiamGia] [decimal](18, 2) NOT NULL,
	[TienPhaiTra]  AS (isnull([TongTienHang],(0))-isnull([GiamGia],(0))) PERSISTED,
	[DaThanhToan] [decimal](18, 2) NOT NULL,
	[ConNo]  AS ((isnull([TongTienHang],(0))-isnull([GiamGia],(0)))-isnull([DaThanhToan],(0))) PERSISTED,
	[HanThanhToan] [date] NULL,
	[TrangThaiThanhToan] [tinyint] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuNhapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_CongNoNhaCungCap]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_CongNoNhaCungCap]
AS
SELECT 
    NCC.NhaCungCapId,
    NCC.MaNCC,
    NCC.TenNCC,
    SUM(CASE WHEN PN.ConNo > 0 THEN PN.ConNo ELSE 0 END) AS TongNo,
    COUNT(CASE WHEN PN.ConNo > 0 THEN 1 END)             AS SoPhieuConNo,
    MAX(CASE WHEN PN.ConNo > 0 THEN PN.HanThanhToan END) AS HanThanhToanGanNhat
FROM dbo.DM_NhaCungCap NCC
LEFT JOIN dbo.PhieuNhap PN
    ON PN.NhaCungCapId = NCC.NhaCungCapId
GROUP BY NCC.NhaCungCapId, NCC.MaNCC, NCC.TenNCC;
GO
/****** Object:  Table [dbo].[DM_Thuoc]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_Thuoc](
	[ThuocId] [int] IDENTITY(1,1) NOT NULL,
	[MaThuoc] [varchar](20) NOT NULL,
	[TenThuoc] [nvarchar](200) NOT NULL,
	[TenKhac] [nvarchar](200) NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[GiaBanLe] [decimal](18, 2) NOT NULL,
	[TonToiThieu] [decimal](18, 3) NOT NULL,
	[CongDung] [nvarchar](max) NULL,
	[ChongChiDinh] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
	[SoLuongTon] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThuocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonThuocChiTiet]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonThuocChiTiet](
	[DonThuocChiTietId] [int] IDENTITY(1,1) NOT NULL,
	[DonThuocId] [int] NOT NULL,
	[ThuocId] [int] NOT NULL,
	[LieuLuongGram] [decimal](18, 3) NOT NULL,
	[SoThang] [int] NOT NULL,
	[DonGiaBan] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DonThuocChiTietId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuChi]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChi](
	[PhieuChiId] [int] IDENTITY(1,1) NOT NULL,
	[SoPhieu] [varchar](30) NOT NULL,
	[NgayChi] [datetime2](7) NOT NULL,
	[NhaCungCapId] [int] NOT NULL,
	[PhieuNhapId] [int] NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[HinhThucThanhToan] [tinyint] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuChiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapChiTiet]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapChiTiet](
	[PhieuNhapChiTietId] [int] IDENTITY(1,1) NOT NULL,
	[PhieuNhapId] [int] NOT NULL,
	[ThuocId] [int] NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[SoLuong] [decimal](18, 3) NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuNhapChiTietId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThu]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThu](
	[PhieuThuId] [int] IDENTITY(1,1) NOT NULL,
	[SoPhieu] [varchar](30) NOT NULL,
	[NgayThu] [datetime2](7) NOT NULL,
	[KhachHangId] [int] NOT NULL,
	[DonThuocId] [int] NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[HinhThucThanhToan] [tinyint] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuThuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sys_PasswordReset]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_PasswordReset](
	[ResetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sys_Role]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sys_User]    Script Date: 12/4/2025 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[IsEmailConfirmed] [bit] NOT NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[ResetCode] [nvarchar](20) NULL,
	[ResetCodeExpiredAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DM_KhachHang] ON 

INSERT [dbo].[DM_KhachHang] ([KhachHangId], [MaKhachHang], [HoTen], [NamSinh], [GioiTinh], [DienThoai], [Email], [DiaChi], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (1, N'KH001', N'Nguyễn Văn Bình', 1980, 1, N'0903000001', NULL, N'123 Lê Lợi, Q.1, TP.HCM', N'Khách thân thiết, hay mua thuốc bổ khí', CAST(N'2025-11-28T21:57:52.3795658' AS DateTime2), 5)
INSERT [dbo].[DM_KhachHang] ([KhachHangId], [MaKhachHang], [HoTen], [NamSinh], [GioiTinh], [DienThoai], [Email], [DiaChi], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (2, N'KH002', N'Trần Thị Hoa', 1990, 2, N'0903000002', NULL, N'45 Trần Hưng Đạo, Q.5, TP.HCM', N'Thường mua thuốc điều kinh, bổ huyết', CAST(N'2025-11-28T21:57:52.3795658' AS DateTime2), 5)
INSERT [dbo].[DM_KhachHang] ([KhachHangId], [MaKhachHang], [HoTen], [NamSinh], [GioiTinh], [DienThoai], [Email], [DiaChi], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (3, N'KH003', N'Lê Minh Tuấn', 1975, 1, N'0903000003', NULL, N'10 Lý Thường Kiệt, TP.Thủ Đức', N'Bệnh nhân đau đầu mạn tính', CAST(N'2025-11-28T21:57:52.3795658' AS DateTime2), 5)
SET IDENTITY_INSERT [dbo].[DM_KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DM_NhaCungCap] ON 

INSERT [dbo].[DM_NhaCungCap] ([NhaCungCapId], [MaNCC], [TenNCC], [NguoiLienHe], [DienThoai], [Email], [DiaChi], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (1, N'NCC01', N'Công ty Dược liệu An Khang', N'Nguyễn Văn A', N'02838880001', N'contact@ankhang.vn', N'200 Nguyễn Oanh, Gò Vấp, TP.HCM', N'Cung cấp dược liệu chuẩn GACP', CAST(N'2025-11-28T21:57:52.3844815' AS DateTime2), 5)
INSERT [dbo].[DM_NhaCungCap] ([NhaCungCapId], [MaNCC], [TenNCC], [NguoiLienHe], [DienThoai], [Email], [DiaChi], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (2, N'NCC02', N'Nhà thuốc Đông y Gia Truyền Lâm', N'Lâm Gia', N'02838880002', NULL, N'15 Hùng Vương, Q.5, TP.HCM', N'Chuyên các vị thuốc bổ khí huyết', CAST(N'2025-11-28T21:57:52.3844815' AS DateTime2), 5)
INSERT [dbo].[DM_NhaCungCap] ([NhaCungCapId], [MaNCC], [TenNCC], [NguoiLienHe], [DienThoai], [Email], [DiaChi], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (3, N'NCC03', N'Công ty Dược liệu Bắc Sơn', N'Trần Bắc', N'02437770003', N'info@bacsonherb.vn', N'50 Giải Phóng, Hai Bà Trưng, Hà Nội', N'Nguồn hàng miền Bắc', CAST(N'2025-11-28T21:57:52.3844815' AS DateTime2), 5)
SET IDENTITY_INSERT [dbo].[DM_NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[DM_Thuoc] ON 

INSERT [dbo].[DM_Thuoc] ([ThuocId], [MaThuoc], [TenThuoc], [TenKhac], [DonViTinh], [GiaBanLe], [TonToiThieu], [CongDung], [ChongChiDinh], [GhiChu], [IsActive], [CreatedDate], [CreatedBy], [SoLuongTon]) VALUES (1, N'T001', N'Hoàng kỳ', N'thao tac', N'gram', CAST(500.00 AS Decimal(18, 2)), CAST(10.000 AS Decimal(18, 3)), N'cc', N'', N'Uống sắc, thường phối hợp các vị khác', 1, CAST(N'2025-11-28T21:47:44.8944292' AS DateTime2), NULL, CAST(990.000 AS Decimal(18, 3)))
INSERT [dbo].[DM_Thuoc] ([ThuocId], [MaThuoc], [TenThuoc], [TenKhac], [DonViTinh], [GiaBanLe], [TonToiThieu], [CongDung], [ChongChiDinh], [GhiChu], [IsActive], [CreatedDate], [CreatedBy], [SoLuongTon]) VALUES (2, N'T002', N'Cam thảo', N'', N'gram', CAST(450.00 AS Decimal(18, 2)), CAST(10.000 AS Decimal(18, 3)), N'', N'cc', N'Dễ gây phù nếu dùng liều cao kéo dài', 1, CAST(N'2025-11-28T21:47:44.8944292' AS DateTime2), NULL, CAST(785.000 AS Decimal(18, 3)))
INSERT [dbo].[DM_Thuoc] ([ThuocId], [MaThuoc], [TenThuoc], [TenKhac], [DonViTinh], [GiaBanLe], [TonToiThieu], [CongDung], [ChongChiDinh], [GhiChu], [IsActive], [CreatedDate], [CreatedBy], [SoLuongTon]) VALUES (3, N'T003', N'Xuyên khung', N'cc', N'gram', CAST(650.00 AS Decimal(18, 2)), CAST(10.000 AS Decimal(18, 3)), N'', N'', N'ádfasdfasdf', 1, CAST(N'2025-11-28T21:47:44.8944292' AS DateTime2), NULL, CAST(500.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[DM_Thuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonThuoc] ON 

INSERT [dbo].[DonThuoc] ([DonThuocId], [SoDon], [NgayLap], [KhachHangId], [BacSiKeDon], [ChanDoan], [TongTienHang], [GiamGia], [DaThanhToan], [HanThanhToan], [TrangThaiDon], [TrangThaiThanhToan], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (1, N'DT0001', CAST(N'2025-11-20T00:00:00.0000000' AS DateTime2), 1, N'Lương y Trần Văn An', N'Suy nhược, khí huyết hư', CAST(350000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-12-18' AS Date), 1, 0, N'', CAST(N'2025-11-28T21:57:52.3983938' AS DateTime2), 7)
INSERT [dbo].[DonThuoc] ([DonThuocId], [SoDon], [NgayLap], [KhachHangId], [BacSiKeDon], [ChanDoan], [TongTienHang], [GiamGia], [DaThanhToan], [HanThanhToan], [TrangThaiDon], [TrangThaiThanhToan], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (3, N'DT0003', CAST(N'2025-11-20T00:00:00.0000000' AS DateTime2), 5, N'Lương y Trần Văn An', N'Cảm mạo phong hàn ', CAST(180000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(N'2026-12-18' AS Date), 1, 1, N'', CAST(N'2025-11-28T21:57:52.3989566' AS DateTime2), 7)
INSERT [dbo].[DonThuoc] ([DonThuocId], [SoDon], [NgayLap], [KhachHangId], [BacSiKeDon], [ChanDoan], [TongTienHang], [GiamGia], [DaThanhToan], [HanThanhToan], [TrangThaiDon], [TrangThaiThanhToan], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (8, N'DT0005', CAST(N'2025-12-04T00:00:00.0000000' AS DateTime2), 5, N'Lương y Trần Văn An', N'dau dau', CAST(5150.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-12-19' AS Date), 1, 0, N'', CAST(N'2025-12-04T12:32:21.8833333' AS DateTime2), 5)
SET IDENTITY_INSERT [dbo].[DonThuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonThuocChiTiet] ON 

INSERT [dbo].[DonThuocChiTiet] ([DonThuocChiTietId], [DonThuocId], [ThuocId], [LieuLuongGram], [SoThang], [DonGiaBan], [ThanhTien], [GhiChu]) VALUES (57, 3, 2, CAST(30.000 AS Decimal(18, 3)), 1, CAST(450.00 AS Decimal(18, 2)), CAST(13500.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[DonThuocChiTiet] ([DonThuocChiTietId], [DonThuocId], [ThuocId], [LieuLuongGram], [SoThang], [DonGiaBan], [ThanhTien], [GhiChu]) VALUES (58, 3, 8, CAST(20.000 AS Decimal(18, 3)), 1, CAST(530.00 AS Decimal(18, 2)), CAST(10600.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[DonThuocChiTiet] ([DonThuocChiTietId], [DonThuocId], [ThuocId], [LieuLuongGram], [SoThang], [DonGiaBan], [ThanhTien], [GhiChu]) VALUES (65, 1, 1, CAST(50.000 AS Decimal(18, 3)), 1, CAST(500.00 AS Decimal(18, 2)), CAST(25000.00 AS Decimal(18, 2)), N'')
SET IDENTITY_INSERT [dbo].[DonThuocChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuChi] ON 

INSERT [dbo].[PhieuChi] ([PhieuChiId], [SoPhieu], [NgayChi], [NhaCungCapId], [PhieuNhapId], [SoTien], [HinhThucThanhToan], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (1, N'PC0001', CAST(N'2025-11-20T00:00:00.0000000' AS DateTime2), 1, 1, CAST(300000.00 AS Decimal(18, 2)), 0, N'Thanh toán 1 phần phiếu nhập NK0001', CAST(N'2025-11-28T21:57:52.4429296' AS DateTime2), 6)
INSERT [dbo].[PhieuChi] ([PhieuChiId], [SoPhieu], [NgayChi], [NhaCungCapId], [PhieuNhapId], [SoTien], [HinhThucThanhToan], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (2, N'PC0002', CAST(N'2025-11-20T00:00:00.0000000' AS DateTime2), 2, 2, CAST(320000.00 AS Decimal(18, 2)), 1, N'Thanh toán đủ phiếu nhập NK0002', CAST(N'2025-11-28T21:57:52.4429296' AS DateTime2), 6)
INSERT [dbo].[PhieuChi] ([PhieuChiId], [SoPhieu], [NgayChi], [NhaCungCapId], [PhieuNhapId], [SoTien], [HinhThucThanhToan], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (3, N'PC20251204144647', CAST(N'2025-12-04T14:46:47.7766667' AS DateTime2), 1, 1, CAST(50000.00 AS Decimal(18, 2)), 1, N'', CAST(N'2025-12-04T14:46:47.8166667' AS DateTime2), 5)
SET IDENTITY_INSERT [dbo].[PhieuChi] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([PhieuNhapId], [SoPhieu], [NgayNhap], [NhaCungCapId], [TongTienHang], [GiamGia], [DaThanhToan], [HanThanhToan], [TrangThaiThanhToan], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (1, N'NK0001', CAST(N'2025-11-18T00:00:00.0000000' AS DateTime2), 1, CAST(500000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(350000.00 AS Decimal(18, 2)), CAST(N'2025-12-10' AS Date), 2, N'Nhập lô dược liệu bổ khí', CAST(N'2025-11-28T21:57:52.4193124' AS DateTime2), 5)
INSERT [dbo].[PhieuNhap] ([PhieuNhapId], [SoPhieu], [NgayNhap], [NhaCungCapId], [TongTienHang], [GiamGia], [DaThanhToan], [HanThanhToan], [TrangThaiThanhToan], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (2, N'NK0002', CAST(N'2025-11-19T00:00:00.0000000' AS DateTime2), 2, CAST(320000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(320000.00 AS Decimal(18, 2)), NULL, 2, N'Nhập thuốc điều kinh', CAST(N'2025-11-28T21:57:52.4193124' AS DateTime2), 5)
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhapChiTiet] ON 

INSERT [dbo].[PhieuNhapChiTiet] ([PhieuNhapChiTietId], [PhieuNhapId], [ThuocId], [DonViTinh], [SoLuong], [DonGiaNhap], [ThanhTien], [GhiChu]) VALUES (1, 1, 1, N'gram', CAST(2000.000 AS Decimal(18, 3)), CAST(300.00 AS Decimal(18, 2)), CAST(600000.00 AS Decimal(18, 2)), N'Lô 11/2025 Hà Nội')
INSERT [dbo].[PhieuNhapChiTiet] ([PhieuNhapChiTietId], [PhieuNhapId], [ThuocId], [DonViTinh], [SoLuong], [DonGiaNhap], [ThanhTien], [GhiChu]) VALUES (2, 2, 4, N'gram', CAST(800.000 AS Decimal(18, 3)), CAST(500.00 AS Decimal(18, 2)), CAST(400000.00 AS Decimal(18, 2)), N'Lô 11/2025 Sài Gòn')
SET IDENTITY_INSERT [dbo].[PhieuNhapChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuThu] ON 

INSERT [dbo].[PhieuThu] ([PhieuThuId], [SoPhieu], [NgayThu], [KhachHangId], [DonThuocId], [SoTien], [HinhThucThanhToan], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (1, N'PT0001', CAST(N'2025-11-21T00:00:00.0000000' AS DateTime2), 1, 1, CAST(200000.00 AS Decimal(18, 2)), 0, N'Thu lần 1 đơn DT0001', CAST(N'2025-11-28T21:57:52.4348049' AS DateTime2), 6)
INSERT [dbo].[PhieuThu] ([PhieuThuId], [SoPhieu], [NgayThu], [KhachHangId], [DonThuocId], [SoTien], [HinhThucThanhToan], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (2, N'PT0002', CAST(N'2025-11-23T00:00:00.0000000' AS DateTime2), 5, 3, CAST(180000.00 AS Decimal(18, 2)), 0, N'Thanh toán đủ đơn DT0003', CAST(N'2025-11-28T21:57:52.4348049' AS DateTime2), 6)
INSERT [dbo].[PhieuThu] ([PhieuThuId], [SoPhieu], [NgayThu], [KhachHangId], [DonThuocId], [SoTien], [HinhThucThanhToan], [GhiChu], [CreatedDate], [CreatedBy]) VALUES (3, N'PT0003', CAST(N'2025-12-04T13:44:12.8666667' AS DateTime2), 5, 12, CAST(1000.00 AS Decimal(18, 2)), 0, N'', CAST(N'2025-12-04T13:44:12.8700000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PhieuThu] OFF
GO
SET IDENTITY_INSERT [dbo].[Sys_PasswordReset] ON 

INSERT [dbo].[Sys_PasswordReset] ([ResetId], [UserId], [Code], [ExpiresAt], [IsUsed], [CreatedDate]) VALUES (1, 5, N'224386', CAST(N'2025-12-01T12:33:00.070' AS DateTime), 0, CAST(N'2025-12-01T12:23:00.073' AS DateTime))
INSERT [dbo].[Sys_PasswordReset] ([ResetId], [UserId], [Code], [ExpiresAt], [IsUsed], [CreatedDate]) VALUES (2, 5, N'686067', CAST(N'2025-12-01T12:55:50.937' AS DateTime), 0, CAST(N'2025-12-01T12:45:50.940' AS DateTime))
INSERT [dbo].[Sys_PasswordReset] ([ResetId], [UserId], [Code], [ExpiresAt], [IsUsed], [CreatedDate]) VALUES (3, 5, N'976851', CAST(N'2025-12-01T12:56:57.120' AS DateTime), 0, CAST(N'2025-12-01T12:46:57.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sys_PasswordReset] OFF
GO
SET IDENTITY_INSERT [dbo].[Sys_Role] ON 

INSERT [dbo].[Sys_Role] ([RoleId], [RoleName], [Description]) VALUES (5, N'Admin', N'Quản trị hệ thống, toàn quyền')
INSERT [dbo].[Sys_Role] ([RoleId], [RoleName], [Description]) VALUES (6, N'Thu ngân', N'Ghi nhận thu chi, xem báo cáo')
INSERT [dbo].[Sys_Role] ([RoleId], [RoleName], [Description]) VALUES (7, N'Bán thuốc', N'Lập đơn thuốc, tư vấn khách')
SET IDENTITY_INSERT [dbo].[Sys_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Sys_User] ON 

INSERT [dbo].[Sys_User] ([UserId], [UserName], [PasswordHash], [FullName], [Email], [IsActive], [RoleId], [CreatedDate], [PhoneNumber], [IsEmailConfirmed], [LastLoginDate], [ResetCode], [ResetCodeExpiredAt]) VALUES (5, N'admin', N'123', N'Chủ tiệm Đông y', N'khoikhodo35@gmail.com', 1, 5, CAST(N'2025-11-28T21:57:52.3719617' AS DateTime2), N'0900000000', 0, NULL, NULL, NULL)
INSERT [dbo].[Sys_User] ([UserId], [UserName], [PasswordHash], [FullName], [Email], [IsActive], [RoleId], [CreatedDate], [PhoneNumber], [IsEmailConfirmed], [LastLoginDate], [ResetCode], [ResetCodeExpiredAt]) VALUES (6, N'thungan', N'123', N'Nguyễn Thị Thu Ngân', N'thungan@tiemthuoc.local', 1, 6, CAST(N'2025-11-28T21:57:52.3719617' AS DateTime2), N'0901000001', 0, NULL, NULL, NULL)
INSERT [dbo].[Sys_User] ([UserId], [UserName], [PasswordHash], [FullName], [Email], [IsActive], [RoleId], [CreatedDate], [PhoneNumber], [IsEmailConfirmed], [LastLoginDate], [ResetCode], [ResetCodeExpiredAt]) VALUES (7, N'bs_yhct', N'123456', N'Lương y Trần Văn An', N'luongy.an@tiemthuoc.local', 1, 7, CAST(N'2025-11-28T21:57:52.3719617' AS DateTime2), N'0902000002', 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Sys_User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DM_Khach__88D2F0E417FE277A]    Script Date: 12/4/2025 4:43:57 PM ******/
ALTER TABLE [dbo].[DM_KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DM_NhaCu__3A185DEA46E88D7C]    Script Date: 12/4/2025 4:43:57 PM ******/
ALTER TABLE [dbo].[DM_NhaCungCap] ADD UNIQUE NONCLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DM_Thuoc__4BB1F621C646DBFC]    Script Date: 12/4/2025 4:43:57 PM ******/
ALTER TABLE [dbo].[DM_Thuoc] ADD UNIQUE NONCLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DonThuoc__22EBE9041D6795C6]    Script Date: 12/4/2025 4:43:57 PM ******/
ALTER TABLE [dbo].[DonThuoc] ADD UNIQUE NONCLUSTERED 
(
	[SoDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonThuoc_KhachHang_NgayLap]    Script Date: 12/4/2025 4:43:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonThuoc_KhachHang_NgayLap] ON [dbo].[DonThuoc]
(
	[KhachHangId] ASC,
	[NgayLap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonThuocChiTiet_DonThuoc]    Script Date: 12/4/2025 4:43:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonThuocChiTiet_DonThuoc] ON [dbo].[DonThuocChiTiet]
(
	[DonThuocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhieuChi__960AAEE3D563EE5B]    Script Date: 12/4/2025 4:43:57 PM ******/
ALTER TABLE [dbo].[PhieuChi] ADD UNIQUE NONCLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhieuChi_NhaCungCap_NgayChi]    Script Date: 12/4/2025 4:43:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhieuChi_NhaCungCap_NgayChi] ON [dbo].[PhieuChi]
(
	[NhaCungCapId] ASC,
	[NgayChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhieuNha__960AAEE388A4B899]    Script Date: 12/4/2025 4:43:57 PM ******/
ALTER TABLE [dbo].[PhieuNhap] ADD UNIQUE NONCLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhieuNhap_NhaCungCap_NgayNhap]    Script Date: 12/4/2025 4:43:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhieuNhap_NhaCungCap_NgayNhap] ON [dbo].[PhieuNhap]
(
	[NhaCungCapId] ASC,
	[NgayNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhieuNhapChiTiet_PhieuNhap]    Script Date: 12/4/2025 4:43:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhieuNhapChiTiet_PhieuNhap] ON [dbo].[PhieuNhapChiTiet]
(
	[PhieuNhapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhieuThu__960AAEE36BC53EDB]    Script Date: 12/4/2025 4:43:57 PM ******/
ALTER TABLE [dbo].[PhieuThu] ADD UNIQUE NONCLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhieuThu_KhachHang_NgayThu]    Script Date: 12/4/2025 4:43:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhieuThu_KhachHang_NgayThu] ON [dbo].[PhieuThu]
(
	[KhachHangId] ASC,
	[NgayThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sys_PasswordReset_User_IsUsed]    Script Date: 12/4/2025 4:43:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sys_PasswordReset_User_IsUsed] ON [dbo].[Sys_PasswordReset]
(
	[UserId] ASC,
	[IsUsed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Sys_User__C9F28456B1E26E9A]    Script Date: 12/4/2025 4:43:57 PM ******/
ALTER TABLE [dbo].[Sys_User] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DM_KhachHang] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DM_NhaCungCap] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DM_Thuoc] ADD  DEFAULT ((0)) FOR [GiaBanLe]
GO
ALTER TABLE [dbo].[DM_Thuoc] ADD  DEFAULT ((0)) FOR [TonToiThieu]
GO
ALTER TABLE [dbo].[DM_Thuoc] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DM_Thuoc] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DM_Thuoc] ADD  CONSTRAINT [DF_DM_Thuoc_SoLuongTon]  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[DonThuoc] ADD  DEFAULT ((0)) FOR [TongTienHang]
GO
ALTER TABLE [dbo].[DonThuoc] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[DonThuoc] ADD  DEFAULT ((0)) FOR [DaThanhToan]
GO
ALTER TABLE [dbo].[DonThuoc] ADD  DEFAULT ((0)) FOR [TrangThaiDon]
GO
ALTER TABLE [dbo].[DonThuoc] ADD  DEFAULT ((0)) FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[DonThuoc] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PhieuChi] ADD  DEFAULT ((0)) FOR [HinhThucThanhToan]
GO
ALTER TABLE [dbo].[PhieuChi] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [TongTienHang]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [DaThanhToan]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PhieuThu] ADD  DEFAULT ((0)) FOR [HinhThucThanhToan]
GO
ALTER TABLE [dbo].[PhieuThu] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sys_PasswordReset] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Sys_PasswordReset] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sys_User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sys_User] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Sys_User] ADD  DEFAULT ((0)) FOR [IsEmailConfirmed]
GO
ALTER TABLE [dbo].[DM_KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_DM_KhachHang_Sys_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Sys_User] ([UserId])
GO
ALTER TABLE [dbo].[DM_KhachHang] CHECK CONSTRAINT [FK_DM_KhachHang_Sys_User]
GO
ALTER TABLE [dbo].[DM_NhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_DM_NhaCungCap_Sys_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Sys_User] ([UserId])
GO
ALTER TABLE [dbo].[DM_NhaCungCap] CHECK CONSTRAINT [FK_DM_NhaCungCap_Sys_User]
GO
ALTER TABLE [dbo].[DM_Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_DM_Thuoc_Sys_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Sys_User] ([UserId])
GO
ALTER TABLE [dbo].[DM_Thuoc] CHECK CONSTRAINT [FK_DM_Thuoc_Sys_User]
GO
ALTER TABLE [dbo].[DonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DonThuoc_KhachHang] FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[DM_KhachHang] ([KhachHangId])
GO
ALTER TABLE [dbo].[DonThuoc] CHECK CONSTRAINT [FK_DonThuoc_KhachHang]
GO
ALTER TABLE [dbo].[DonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DonThuoc_Sys_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Sys_User] ([UserId])
GO
ALTER TABLE [dbo].[DonThuoc] CHECK CONSTRAINT [FK_DonThuoc_Sys_User]
GO
ALTER TABLE [dbo].[DonThuocChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DonThuocChiTiet_DonThuoc] FOREIGN KEY([DonThuocId])
REFERENCES [dbo].[DonThuoc] ([DonThuocId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonThuocChiTiet] CHECK CONSTRAINT [FK_DonThuocChiTiet_DonThuoc]
GO
ALTER TABLE [dbo].[DonThuocChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DonThuocChiTiet_Thuoc] FOREIGN KEY([ThuocId])
REFERENCES [dbo].[DM_Thuoc] ([ThuocId])
GO
ALTER TABLE [dbo].[DonThuocChiTiet] CHECK CONSTRAINT [FK_DonThuocChiTiet_Thuoc]
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChi_NhaCungCap] FOREIGN KEY([NhaCungCapId])
REFERENCES [dbo].[DM_NhaCungCap] ([NhaCungCapId])
GO
ALTER TABLE [dbo].[PhieuChi] CHECK CONSTRAINT [FK_PhieuChi_NhaCungCap]
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChi_PhieuNhap] FOREIGN KEY([PhieuNhapId])
REFERENCES [dbo].[PhieuNhap] ([PhieuNhapId])
GO
ALTER TABLE [dbo].[PhieuChi] CHECK CONSTRAINT [FK_PhieuChi_PhieuNhap]
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuChi_Sys_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Sys_User] ([UserId])
GO
ALTER TABLE [dbo].[PhieuChi] CHECK CONSTRAINT [FK_PhieuChi_Sys_User]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([NhaCungCapId])
REFERENCES [dbo].[DM_NhaCungCap] ([NhaCungCapId])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_Sys_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Sys_User] ([UserId])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_Sys_User]
GO
ALTER TABLE [dbo].[PhieuNhapChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapChiTiet_PhieuNhap] FOREIGN KEY([PhieuNhapId])
REFERENCES [dbo].[PhieuNhap] ([PhieuNhapId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhapChiTiet] CHECK CONSTRAINT [FK_PhieuNhapChiTiet_PhieuNhap]
GO
ALTER TABLE [dbo].[PhieuNhapChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapChiTiet_Thuoc] FOREIGN KEY([ThuocId])
REFERENCES [dbo].[DM_Thuoc] ([ThuocId])
GO
ALTER TABLE [dbo].[PhieuNhapChiTiet] CHECK CONSTRAINT [FK_PhieuNhapChiTiet_Thuoc]
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThu_DonThuoc] FOREIGN KEY([DonThuocId])
REFERENCES [dbo].[DonThuoc] ([DonThuocId])
GO
ALTER TABLE [dbo].[PhieuThu] CHECK CONSTRAINT [FK_PhieuThu_DonThuoc]
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThu_KhachHang] FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[DM_KhachHang] ([KhachHangId])
GO
ALTER TABLE [dbo].[PhieuThu] CHECK CONSTRAINT [FK_PhieuThu_KhachHang]
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThu_Sys_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Sys_User] ([UserId])
GO
ALTER TABLE [dbo].[PhieuThu] CHECK CONSTRAINT [FK_PhieuThu_Sys_User]
GO
ALTER TABLE [dbo].[Sys_PasswordReset]  WITH CHECK ADD  CONSTRAINT [FK_Sys_PasswordReset_Sys_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Sys_User] ([UserId])
GO
ALTER TABLE [dbo].[Sys_PasswordReset] CHECK CONSTRAINT [FK_Sys_PasswordReset_Sys_User]
GO
ALTER TABLE [dbo].[Sys_User]  WITH CHECK ADD  CONSTRAINT [FK_Sys_User_Sys_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Sys_Role] ([RoleId])
GO
ALTER TABLE [dbo].[Sys_User] CHECK CONSTRAINT [FK_Sys_User_Sys_Role]
GO
ALTER TABLE [dbo].[DM_Thuoc]  WITH CHECK ADD  CONSTRAINT [CK_DM_Thuoc_GiaBanLe_NonNegative] CHECK  (([GiaBanLe]>=(0)))
GO
ALTER TABLE [dbo].[DM_Thuoc] CHECK CONSTRAINT [CK_DM_Thuoc_GiaBanLe_NonNegative]
GO
ALTER TABLE [dbo].[DM_Thuoc]  WITH CHECK ADD  CONSTRAINT [CK_DM_Thuoc_SoLuongTon_NonNegative] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[DM_Thuoc] CHECK CONSTRAINT [CK_DM_Thuoc_SoLuongTon_NonNegative]
GO
ALTER TABLE [dbo].[DM_Thuoc]  WITH CHECK ADD  CONSTRAINT [CK_DM_Thuoc_TonToiThieu_NonNegative] CHECK  (([TonToiThieu]>=(0)))
GO
ALTER TABLE [dbo].[DM_Thuoc] CHECK CONSTRAINT [CK_DM_Thuoc_TonToiThieu_NonNegative]
GO
USE [master]
GO

